body {
    background: url(images/wall2.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-size: 14px;
	font-family: Arial;
	overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/** video {
	background-size: cover;
	left: 50%;
	top: 50%;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -99;
	transform: translateX(-50%) translateY(-50%);
} **/

a, a:active, a:link {
	text-decoration: none;
	color: #ffffff;
}

.terminal {
	position: relative;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.bar {
	border-radius: 5px 5px 0 0;
	background-color: #f6f6f6;
	padding: 5px 8px;
	border: 1px solid #dddddd;
}

.logLine {
	height: 18px;
}

.btn {
	text-decoration: none;
	width: 10px;
	height: 10px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	border-radius: 100%;
}

.status {
	text-align: center;
}

.window {
    background-color: red;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	font-family: Monaco, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: white;
	overflow-y: scroll;
	min-height: 320px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

.dir {
	color: #FF0000;
	font-weight: bold;
}

.dir:before {
	content: 'âžœ';
	color: #FF0000;
	margin-right: 10px;
}

.userInput {
	position: relative;
	display: inline-block;
	border: none;
	background-color: transparent;
	color: white;
	font-family: inherit;
	outline: none;
	overflow: auto;
	box-shadow: none;
	height: 20px;
	width: 90%;
}

.btnclose {
	text-decoration: none;
	width: 10px;
	height: 10px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	border-radius: 100%;
	background-color: #FC625C;
	border: 1px solid #fb322a;
}

.btnhide {
	text-decoration: none;
	width: 10px;
	height: 10px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	border-radius: 100%;
	background-color: #FDC141;
	border: 1px solid #fdb928;
}

.btnfull {
	text-decoration: none;
	width: 10px;
	height: 10px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	border-radius: 100%;
	background-color: #35CC4b;
	border: 1px solid #2aa43b;
}